@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Roboto'];
    height: 100%;
    background-color: #fff;
    color: #757575;
  }

  .wrapper {
    display: flex;
  }

  .content_wrapper {
    background-color: #fafdfb;
    width: 100%;
    overflow-x: hidden;
  }

  .content {
    flex: 1;
  }

  .text-gray-400 {
    color: #d1d3e2;
  }

  /********** CARD AREA *********/

  .card {
    height: 100%;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.375rem;
  }

  .card_area {
    margin-bottom: 30px;
  }

  .card_body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }

  .col {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
  }

  .col_half {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
  }

  .card_content {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 80%;
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .card_title {
    font-size: 14px;
  }
  .card_amount {
    font-size: 24px;
  }
  .card_increment {
    font-size: 12px;
  }

  .card_increment span {
    margin-right: 10px;
  }

  .card_increment svg {
    font-size: 17px;
    margin-right: 3px;
  }

  .card_icon svg {
    font-size: 35px;
    color: #ffa426;
  }

  /********** CHAT AREA *********/

  .pie_card,
  .line_card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 10px;
    border-radius: 0.375rem;
    margin-bottom: 20px;
  }
}
