.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.pagination {
  margin-top: 20px;
  /* background: #f2f; */
  display: flex;
}

.pagination_item {
  padding: 5px 10px;
  border: 1px solid #a6a3a3;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
