.sidebar {
  min-height: 100vh;
  width: 14rem !important;
  background: rgb(184, 255, 249);
  background: linear-gradient(
    0deg,
    rgba(184, 255, 249, 1) 31%,
    rgba(66, 194, 255, 1) 100%
  );
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
  z-index: 0;
  color: #406882;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar .sidebar_brand {
  @apply flex justify-center items-center;
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
  z-index: 1;
  color: #fafafa;
}

.sidebar_icon img {
  max-height: 2.3rem;
}

.sidebar_title {
  @apply mx-4;
  color: #406882;
}

.my_4 {
  @apply my-4;
}

.sidebar_divider {
  border-top: 1px solid #eaecf4;
}

.sidebar_divider_my_4 {
  border-top: 1px solid #effffd;
  margin-bottom: 1rem;
}

.home_link {
  font-weight: 500;
}

.home_link,
.order_link {
  color: #6e707e;
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem;
  width: 14rem;
}

.home_link svg,
.order_link svg {
  font-size: 0.98rem;
  margin-right: 0.4rem;
}

.home_link span {
  font-size: 0.85rem;
  display: inline;
}

.sidebar_heading {
  text-align: left;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.7rem;
  letter-spacing: 0.13rem;
  color: #effffd;
}

.order_link span {
  font-size: 0.9rem;
  display: inline;
}

.nav_link {
  transition: all 0.3s;
}

.nav_link:hover {
  background-color: #effffd;
}
